/*헤더 시작*/
.header{
    background-color: #47C83E;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}
h1.header{
    margin-top: 0%;
    margin-bottom: -5px;
}
h1.header a:link{/*마우스 반응*/
    color: black;
    text-decoration: underline;
    display: inline;
}
h1.header a:hover{
    color: white;
}
h1.header a:active{
    color: purple;
}
h1.header a:visited{
    color: purple;
}/*마우스 반응 끝*/
p.header{
    margin-top: 0px;
    padding-bottom: 10px;
}
/*헤더 끝*/

/*네비게이션 메뉴*/
.navi{
    margin: 0;
}
ul{
    list-style-type: none;
    width: 150px;
    text-align: center;
}
ul li{
    background-color: #47C83E;
    margin: 3px;
    text-decoration: none;
}
ul li a:link{/*마우스 클릭시 등의 효과*/
    color: black;
    text-decoration: none;
    display: inline;
}
ul li a:hover{
    color: white;
}
ul li a:active{
    color: purple;
}
ul li a:visited{
    color: purple;
}/*마우스 클릭시 등의 효과 끝*/
/*네비게이션 메뉴 끝*/