/*헤더*/
.header{
    background-color: #47C83E;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.header h1{
    margin: 0;
    color: white;
}
.header p{
    margin: 0;
    color: white;
}
/*페이지 클릭시 등 반응*/
a:link{
    color: black;
    text-decoration: underline;
    display: inline;
}
a:hover{
    color: white;
}
a:active{
    color: yellow;
}
a:visited{
    color: purple;
}
/*페이지 클릭시 등 반응 끝*/
/*메뉴*/
.navi{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    background-color: #E6E6E6;
    margin: 5px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}
.color{
    background-color: #47C83E;
}
/*메뉴 끝*/
/*테이블*/
table{
    border-collapse: collapse;
    width: 100%;
}
table,th,td{/*선 색깔*/
    border: 1px solid white;
}
th,td{
    text-align: left;
    padding: 8px;
    vertical-align: middle;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
th{
    color: white;
    background-color: #47C83E;
}
tr:hover{
    background-color: #CEFBC9;
}
/*테이블 끝*/
/*사이드바*/
.Layer.side{
    color: white;
    background-color: #6EE3F7;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}
.side h2{
    margin: 0;
}
.side p{
    margin: 0;
}
/*사이드바 끝*/
/*레이아웃*/
*{
    box-sizing: border-box;
}
.main{
    border: solid red 1px;
    height: 100%;
}
.Layer{
    float: left;
    
}
.Layer.navi{
    width: 25%;
    height: 526px;
}
.Layer.information{
    width: 50%;
}
.Layer.side{
    width: 25%;
    height: 526px;
}
/*레이아웃 끝*/
/*footer*/
footer{
    background-color: gray;
    border-radius: 10px;
}
/*footer