.navigation{
    overflow: hidden;
    padding: 14px;
}
.navigation a{
    display: inline;
    color: black;
    background-color: #8C8C8C;
    text-decoration: none;
    padding: 2px 32px;
}
.navigation a.choice{
    background-color: #47C83E;
}
.navigation a:hover{
    background-color: white;
    color: black;
}